.gitignore
.git
BoatTrackingSystemEsp32/.gitmodules
BoatTrackingSystemEsp32/.vscode/
BoatTrackingSystemEsp32/build/
BoatTrackingSystemEsp32/main/BluetoothUUIDInfo.h
BoatTrackingSystemEsp32/nimble_peripheral_utils/
BoatTrackingSystem/*.iml
BoatTrackingSystem/.gradle
BoatTrackingSystem/local.properties
BoatTrackingSystem/.idea/caches
BoatTrackingSystem/.idea/libraries
BoatTrackingSystem/.idea/modules.xml
BoatTrackingSystem/.idea/workspace.xml
BoatTrackingSystem/.idea/navEditor.xml
BoatTrackingSystem/.idea/assetWizardSettings.xml
BoatTrackingSystem/.DS_Store
BoatTrackingSystem/build
BoatTrackingSystem/captures
BoatTrackingSystem/.externalNativeBuild
BoatTrackingSystem/.cxx
BoatTrackingSystem/local.properties
BoatTrackingSystem/app/src/main/java/com/example/boattrackingsystem/BleUUIDS.kt
BoatTrackingSystem/app/src/main/res/drawable/unclepicture.png